/*
pyodide-mkdocs-theme
Copyleft GNU GPLv3 🄯 2024 Frédéric Zinelli

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.
If not, see <https://www.gnu.org/licenses/>.
*/

.term_wrapper {
  position: relative;
  background-color: var(--md-default-bg-color);
}

/* Common to all terminals.
   --n-lines is defined on the parent, through the terminal macro */
.py_mk_terminal {
  --color: var(--main-theme);
  --base-color: var(--main-theme);
  --background: var(--gutter-theme);
  --base-background: var(--md-default-bg-color);    /* FIX wrong colors on selection */
  --size: 1.3;
  width: 100%;
  height: calc( 1em * var(--n-lines) * var(--size) * 0.95 );
  min-height: calc( var(--n-buttons) * 30px);
  background-color: var(--md-default-bg-color);
}

.term_solo, .py_mk_wrapper .term_editor {
  resize: vertical;
  overflow: hidden auto;
}



.term_btns_wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  display: grid;
  font-size: 1.15em;
  line-height: 1em;
  gap: 3px;
  font-family: var(--md-text-font-family);    /* for the tooltips */
}


.md-typeset .stdout-ctrl svg {
  fill: none !important;
}

.stdout-wraps-btn span.twemoji:hover {
  --wrap-opacity: 55% !important;
}

.md-typeset .stdout-wraps-btn span.twemoji {
  opacity:var(--wrap-opacity);
  margin-left: 2px;
}
